.html {
    width:100%;
    height:100%;
    display:table;
    text-align:center;
}
     
.body {
    background: webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#999));
    display:table-cell;
    vertical-align:center;
}

.spin_container {
    width:700px;
    height:700px;
     border-radius:350px;
         
    position:relative;
    margin:0 auto;
    display:block;
         
    background:#fff;
    webkit-box-shadow:0 0 120px #000;
}
