body {
    background-color: tomato; 
}

.circle {
    background-color: white;
    
    height: 45em; 
    width: 45em;

    /* absolute ensures object breaks it out of the flow where we can move the element around the page */
    position: absolute; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* position order written top to bottom doesn't matter */
    /* if written on one line then it's clockwise */

    /* margin auto applies an even margin on all sides of the element */
    margin: auto;

    border-radius: 50%;
    box-shadow: 5px 5px 50px black;
}

.topBun {
    background-color: tan;

    height: 5.5em;
    width: 28em;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 15em;
    right: 0;

    margin: auto;

    border-radius: 35% 35% 0 0; 
}

.ketchup {
    background-color: red;

    height: 2em;
    width: 28em;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 5em;
    right: 0;

    margin: auto;
}

.patty {
    background-color: rgb(165, 71, 42);

    height: 5.5em;
    width: 28em;

    position: absolute;
    top: 5em;
    left: 0;
    bottom: 0;
    right: 0;

    margin: auto;

    border-radius: 20% 20% 20% 20%; 
}

.bottomBun {
    background-color: tan;

    height: 5.5em;
    width: 28em;

    position: absolute;
    top: 18em;
    left: 0;
    bottom: 0;
    right: 0;

    margin: auto;

    border-radius: 0 0 20% 20%; 
}